.dropdown {
    position: absolute;
    border: 1px solid #000;
    background: #FFF;
    z-index: 9999;
    max-height: 150px;
    overflow-y: auto;
}

.seleccion {
    border: 1px solid #000;
    padding: 4px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    cursor: default;
}