* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
}

html {
    background-color: #F8F9FA;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-responsivo {
    display: flex;
    gap: 8px;
}

.contenedor-responsivo .item-full {
    flex: 1;
}

@media (max-width: 600px) {
    .contenedor-responsivo {
        flex-direction: column;
    }
}

.tabla-datos {
    border-collapse: collapse;
    width: 100%;
}
.tabla-datos th, .tabla-datos td {
    padding: 4px;
    border: 1px solid #000000;
    text-align: left;
}

.tabla-datos th {
    background-color: #DDDDDD;
}

.tabla-datos td button:not(:last-child) {
    /*Aplicar margen derecho a todos los botones menos al último en caso de que hayan */
    margin-right: 4px;
}

.tabla-contenedor {
    /* Para que la tabla tenga su propio scroll horizontal */
    width: 100%; 
    overflow-x: auto; 
    overflow-y: hidden; 
}

.modal-acciones {
    margin-top: 12px;
    display: flex;
    gap: 6px;
}

button {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 4px;
}

input {
    background-color: #FFFFFF;
    padding: 4px;
    border: 1px solid #000000;
}

select {
    background-color: #FFFFFF;
    padding: 4px;
    border: 1px solid #000000;
}

form label {
    display: block;
    margin-top: 8px;
}

form input, form select {
    width: 100%;
    box-sizing: border-box;
}

/* json */

.json {
    background-color: #DDDDDD;
    padding: 8px;
    border: solid #000000 1px;
}