/* css para los botones */

/* BASE */

button {
    cursor: pointer;
    background-color: #dee2e6;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px;
}

button:disabled {
    background-color: #e9ecef;
    border-color: #dee2e6;
    cursor: not-allowed;
}

button:not([disabled]):hover {
    background-color: #ced4da;
}

/* COLOR ROJO */

button.azul {
    background-color: #1c7ed6;
    border-color: #1c7ed6;
    color: #FFFFFF;
}

button.azul:disabled {
    background-color: #74a9d8;
    border-color: #74a9d8;
    cursor: not-allowed;
}

button.azul:not([disabled]):hover {
    background-color: #1971c2;
}

/* COLOR ROJO */

button.rojo {
    background-color: #f03e3e;
    border-color: #e03131;
    color: #FFFFFF;
}

button.rojo:disabled {
    background-color: #faa2a2;
    border-color: #faa2a2;
    cursor: not-allowed;
}

button.rojo:not([disabled]):hover {
    background-color: #c92a2a;
}