/* css para contenedores html */

/* CONTENEDOR RESPONSIVO */

.contenedor-responsivo {
    display: flex;
    gap: 8px;
}

.contenedor-responsivo .item-full {
    flex: 1;
}

@media (max-width: 600px) {
    .contenedor-responsivo {
        flex-direction: column;
    }
}

/* CONTENEDOR LOGIN */

.contenedor-login {
    margin-top: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    background-color: #FFFFFF;
    border: 1px solid #f1f3f5;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.contenedor-login h1 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
}

.contenedor-login button {
    width: 100%;
    margin-top: 8px;
}

/* JSON */

.json {
    background-color: #f1f1f1;
    padding: 8px;
    border: solid #ced4da 1px;
    border-radius: 5px;
}