.toast-contenedor {
    position: fixed;
    bottom: 6px;
    right: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast-item {
    padding: 8px 8px;
    margin: 10px 0;
    background-color: #FFFFFF;
    width: 300px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.toast-info {
    border-left: 6px solid #228be6;
    box-shadow: 0 2px 6px rgba(34, 139, 230, 0.2);
}

.toast-success {
    border-left: 6px solid #40c057;
    box-shadow: 0 2px 6px rgba(64, 192, 87, 0.2);
}

.toast-error {
    border-left: 6px solid #f03e3e;
    box-shadow: 0 2px 6px rgba(240, 62, 62, 0.2);
}

.toast-warning {
    border-left: 6px solid #fcc419;
    box-shadow: 0 2px 6px rgba(252, 196, 25, 0.2);
}